<p-dialog header="Event Details"
          [modal]="true"
          [style]="{width: '50vw'}"
          [visible]="show"
          (visibleChange)="visibleChange($event)">

  <form [formGroup]="eventForm">
    <div class="flex-column p-fluid">
      <div class="p-field">
        <label for="title">Title</label>
        <input formControlName="title"
               pInputText
               id="title"/>
      </div>

      <div class="p-field">
        <label for="description">Description</label>
        <textarea formControlName="description"
                  pInputTextarea
                  id="description"></textarea>
      </div>
    </div>
  </form>

  <p-footer>
    <button pButton
            label="Cancel"
            (click)="cancelPopup()"></button>

    <button pButton
            label="Save"
            (click)="submit()"></button>
  </p-footer>
</p-dialog>
