.flex-column {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  gap: 10px;
}

.event-time {
  color: dodgerblue;
}

.event-title {
  text-transform: uppercase;
}

.event-description {
  font-size: 0.8em;
  color: #666;
}
