<div class='demo-app'>

  <div class='demo-app-sidebar'>
    <div class='demo-app-sidebar-section'>
      <h2>Instructions</h2>
      <ul>
        <li>Select dates and you will be prompted to create a new event</li>
        <li>Drag, drop, and resize events</li>
        <li>Click an event to delete it</li>
      </ul>
    </div>
    <div class='demo-app-sidebar-section'>
      <h2>All Events ({{ currentEvents.length }})</h2>
      <ul>
        <li *ngFor='let event of currentEvents'>
          <b>{{ event.start }}</b>
          <i>{{ event.title }}</i>
        </li>
      </ul>
    </div>
  </div>

  <div class='demo-app-main'>
    <full-calendar *ngIf='calendarVisible()' [options]='calendarOptions()' [events]="initialEvents">
      <ng-template #eventContent let-arg>
        <div (mouseenter)="showOverlay($event, arg, tooltipPanel)"
             (mouseleave)="hideOverlay(tooltipPanel)"
             style="height: 100%">
          <b>{{ arg.timeText }}</b>
          <i>{{ arg.event.title }}</i>
        </div>
      </ng-template>
    </full-calendar>
  </div>

</div>

<p-overlayPanel #tooltipPanel>
  <ng-container *ngIf="selectedEvent">
    <app-tooltip-container [selectedEvent]="selectedEvent"></app-tooltip-container>
  </ng-container>
</p-overlayPanel>

<app-add-event-popup [(show)]="showAddEventPopup"
                     (onSubmit)="submitHandler($event)"></app-add-event-popup>
